<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.gihub.varunj.sangoshthi_gallery">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="io.gihub.varunj.sangoshthi_gallery.Activities.SplashScreenActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="io.gihub.varunj.sangoshthi_gallery.Activities.LoginActivity" android:screenOrientation="portrait"/>
        <activity android:name="io.gihub.varunj.sangoshthi_gallery.Activities.TopicsListActivity" android:screenOrientation="portrait"/>
        <activity android:name="io.gihub.varunj.sangoshthi_gallery.Activities.MediaListActivity" android:screenOrientation="portrait"/>
        <activity android:name="io.gihub.varunj.sangoshthi_gallery.MediaActivities.AudioVideoActivity" android:screenOrientation="landscape"/>
        <activity android:name="io.gihub.varunj.sangoshthi_gallery.MediaActivities.ImageActivity"/>
        <activity android:name="io.gihub.varunj.sangoshthi_gallery.MediaActivities.SurveyActivity"/>
    </application>

</manifest>
