<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.gihub.varunj.sangoshthi_gallery">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_LOGS" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="io.gihub.varunj.sangoshthi_gallery.Activities.ASplashScreenActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="io.gihub.varunj.sangoshthi_gallery.Activities.CMainActivity" android:screenOrientation="portrait"/>
        <activity android:name="io.gihub.varunj.sangoshthi_gallery.Activities.BLoginActivity" android:screenOrientation="portrait"/>
        <activity android:name="io.gihub.varunj.sangoshthi_gallery.Activities.DTopicsListActivity" android:screenOrientation="portrait"/>
        <activity android:name="io.gihub.varunj.sangoshthi_gallery.Activities.ERecordActivity" android:screenOrientation="portrait"/>
        <activity android:name="io.gihub.varunj.sangoshthi_gallery.Activities.FMediaListActivity" android:screenOrientation="portrait"/>
        <activity android:name="io.gihub.varunj.sangoshthi_gallery.MediaActivities.VideoActivity" android:screenOrientation="landscape"/>
        <activity android:name="io.gihub.varunj.sangoshthi_gallery.MediaActivities.ImageActivity"/>
        <activity android:name="io.gihub.varunj.sangoshthi_gallery.MediaActivities.SurveyActivity" android:screenOrientation="landscape"/>
    </application>

</manifest>
